<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="https://store.psg.fr/content/assets/Paris_Saint-Germain_Online_Store_EU-favicon-1591756696310.ico">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-left">
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_about_us') }}">À propos</a>
            </div>
            <div class="header-right">
                <a href="/compte">Compte</a>
                <div class="legal-links">
                    <a href="{{ path('app_cgv') }}">CGV</a>
                    <a href="{{ path('app_cgu') }}">CGU</a>
                    <a href="{{ path('app_privacy') }}">Confidentialité</a>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
